.banner {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation1 {
  margin-top: 100px;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.presentation2 {
}

h1 {
  font-size: 2em;
}

.title-presentation1 {
  /* padding-top: 100px;
  padding-left: 70px; */
  height: 100px;
}

.media-container {
  display: flex;
  /* padding-left: 70px; */
  margin: 20px 0 40px 0;
}
.media-container img {
  height: 30px;
  width: 30px;
}

.media-btn {
  width: 50px;
  height: 50px;
  border-radius: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.icones {
  width: 270px;
}
.container {
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
  background-color: #fff;
}
.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-buttons a {
  text-align: center;
}
.btn {
  border: none;
  background: none;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  width: 250px;
  margin: 10px;
}
.btn:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
}
/*** Submit button ***/
.btn-normal {
  background: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 23%);
}
.btn-normal:hover {
  background: hsl(0, 0%, 88%);
}
/*** Submit button ***/
.btn-submit {
  background: hsl(110, 21%, 93%);
  color: hsl(141, 100%, 22%);
}
.btn-submit:hover {
  background: hsl(111, 21%, 86%);
}
/*** Info button ***/
.btn-info {
  background: hsl(212, 48%, 94%);
  color: hsl(214, 100%, 44%);
}
.btn-info:hover {
  background: hsl(212, 49%, 88%);
}
/*** Warning button ***/
.btn-warning {
  background: hsl(39, 100%, 92%);
  color: hsl(40, 77%, 49%);
}
.btn-warning:hover {
  background: hsl(39, 100%, 88%);
}
/*** Delete button ***/
.btn-delete {
  background: hsl(0, 50%, 95%);
  color: hsl(0, 91%, 38%);
}
.btn-delete:hover {
  background: hsl(0, 50%, 90%);
}

.profile-container {
  width: 90%;
  max-width: 600px;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}
.container h2 {
  margin-bottom: 10px;
}

.presentation2 p {
  line-height: 1, 4;
  padding: 20px;
  font-size: 1.4em;
}
.presentation2 .profile-picture {
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 20px 5px 0;
  box-shadow: #00000063 0px 0px 10px 3px;
}

@media screen and (max-width: 720px) {
  .banner {
    flex-direction: column;
  }
  h1 {
    font-size: 1.3em;
  }
  .presentation1 {
    height: 50%;
  }
  .presentation2 p {
    line-height: 1, 4;
    padding: 20px;
    font-size: 1em;
  }
  .profile-picture {
    height: 100px !important;
    width: 100px !important;
  }
}
@media screen and (max-width: 480px) {
  /* .profile-picture {
    height: 50px !important;
    width: 50px !important;
  }*/
  .nav-buttons {
    flex-direction: row;
    width: 100vh;
    justify-content: center;
  }
  .btn {
    height: 30px;
    width: 210px;
    font-size: 0.9rem;
  }
  .profile-container {
    width: 450px;
  }
}
