.stages .section-title {
  color: white;
  text-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4);
}
.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  height: 100vh;
}
.stages-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.stage-box {
  height: 250px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 10px;
}
.text {
  width: 40%;
  background-color: white;
}
.s-box-image {
  height: 50%;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 10px 10px 0px 5px #0089ec;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
}
.s-box-image:hover {
  box-shadow: 0px 0px 0px 15px white;
  border: white;
  transition: 0.3s;
}
.text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 1px 1px 5px 0px;
  transition: 0.3s;
}
.stages p {
  position: relative;
  font-size: 1.2rem;
  margin-top: 15px;
  font-weight: bold;
}
.stbox2 {
  flex-direction: row;
}

.button1 {
  position: relative;
  margin: 10px;
  top: 20px;
  left: 70px;
  padding: 5px;
  border-radius: 10%;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 15px 0px #0089ec;
  transition: all 0.3s;
  cursor: pointer;
}
.button1:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 767px) {
  .stage-box {
    width: 100vw;
  }
  .text p {
    font-size: 0.8rem;
  }
  .button1 {
    position: absolute;
    top: 85px;
    width: 110px;
  }
}
