/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:wght@100;200;300');
font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Libre Caslon Display", serif;
}
body {
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* h1,
p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.section {
  height: 90vh;
  width: 100%;
}
.section-title {
  font-size: 3em;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 30px;
}
.page-title {
  font-size: 5rem;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-header img {
  height: 100px;
  width: 100px;
  margin-top: 60px;
}

.achor {
  position: absolute;
  background-color: aqua;
  top: -63px;
}
@media screen and (max-width: 767px) {
  .page-title {
    font-size: 2.5em;
  }
  .section-header img {
    height: 50px;
    width: 50px;
  }
  .section-title {
    font-size: 2em;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2em;
  }
}