/* pour adapter le code changer defilement>animatio ndelay: taille de container> left de article>left defilement */
.container.veille {
  display: flex;
  position: relative;
  left: 0;
  align-items: center;
  height: 400px;
  width: 80vw;
  overflow: hidden;
}

.article {
  width: 400px;
  height: 300px;
  position: absolute;
  left: -400px;
  animation: defilement 12s linear infinite;
}

.article.A1 {
  background-color: red;
  animation-delay: 0s;
}

.article.A2 {
  background-color: blue;
  animation-delay: 4s;
}

.article.A3 {
  background-color: grey;
  animation-delay: 8s;
}

.article.A4 {
  background-color: yellow;
  animation-delay: 12s;
}

.article.A5 {
  background-color: brown;
  animation-delay: 16s;
}

.article.A6 {
  background-color: purple;
  animation-delay: 20s;
}

@keyframes defilement {
  0% {
    left: -450px;
  }
  100% {
    left: 1250px;
  }
}
